/* 
    Document   : vineyard_cc
    Created on : Oct 12, 2009, 8:21:26 AM
    Author     : Xanothos
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body { font-family: 'ArialMT', 'Arial', sans-serif; font-size: 1em; background: #fffad3 }
body p { margin-top: 10px }
.top-container { min-width:900px; width:900px; background: #fff; margin: 0px auto }
.header { background: url('http://localhost:3000/images/logo.png') no-repeat; padding: 5px; height: 181px; }
.header div { text-align: right; color: #fff; margin-right: 10px; font-size: .95em; padding: 2px }
.left-container { float: left; width: 589px; border-right: 1px dotted black; padding-right: 10px; padding-bottom: 10px }
.right-container { float: right; width: 290px; padding-left: 10px }
#footer { clear: both; background: #065; }
* html #footer { height:1px; }
