Welcome, <%=h @contact.strFirstname %>.
<br />
<% if (@contact.workorders.length > 0) then -%>
  <%= render :partial=>"workorder/workorders", :object=>@contact %>
<% else -%>
  <h5>There are no workorders for you</h5>
<% end -%>
